/* ==========================================
   Val personalizados para el Translucence
   ========================================== */

:root {
 
  --app-bg: url(https://i.imgur.com/UMPZorW.jpeg);
  --app-blur: 0px;
  --app-margin: 8px;
  --app-radius: 10px;

  --main-content-opacity: 0.15;
  --sidebar-opacity: 0.15;

  --accent-hue: 214;
  --accent-saturation: 79%;
  --accent-lightness: 53%;

  --card-color: hsl(0, 0%, 0%, 0.4);
  --card-color-hover: hsl(0, 0%, 0%, 0.5);
  --card-color-select: hsl(0, 0%, 0%, 0.625);

  --popout-color: hsl(0, 0%, 0%, 0.55);
  --popout-blur: 8px;
  --popout-header-opacity: 0.3;
  --popout-header-shadow: 0px 3px 9px 0px hsl(0, 0%, 0%, 0.25);
}
